<h1>Support Contact</h1>

<div id="posts">
  <hr>
  <% @contact_messages.each do |contact_message| %>
    <h2><%= contact_message.title %></h2>
    <h5><%= contact_message.message %></h5>
    <h6><%= contact_message.user.email %></h6>
    <hr>
  <% end %>
</div>
