<h1>Users</h1>

<table class="table">
  <tbody>
  <% @decorated_users.each do |decorated_user| %>
    <tr>
      <td><%= link_to decorated_user.full_name, user_path(decorated_user) %></td>
      <td><%= decorated_user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>
